@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #111;
}

@utility main-divs-theme{
    background-color: #303943;
    color: white;
    font-family: ABeeZee;
    .dark & {
        background-color: #242B32;
        color: white;
    }
}

@utility background-divs-theme{
    background-color: #A7B3C0;
    color: black;
    font-family: ABeeZee;
    .dark & {
        background-color: #303943;
        color: white;
    }
}