@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #111;
}

@utility main-divs-theme{
    background-color: #303943;
    color: white;
    font-family: "Open Sans", sans-serif;
    .dark & {
        background-color: #242B32;
        color: white;
    }
}

@utility secondery-divs-theme{
    background-color: #485664;
    color: white;
    font-family: "Open Sans", sans-serif;
    .dark & {
        background-color: #485664;
        color: white;
    }
}

@utility background-divs-theme{
    background-color: #D3D9DF;
    color: black;
    font-family: "Open Sans", sans-serif;
    .dark & {
        background-color: #303943;
        color: white;
    }
}